header{width: 100vw; height: 60px; background-color: rgba(0, 144, 12, 0.634);display: flex; justify-content: center; top: -60px; position: fixed; transition: all 200ms 300ms;}
header:hover{top: 0; transition: 300ms;}
header:hover .but{transition: all 400ms; transition-delay: 500ms;}
header:hover .but{opacity: 0; transition: all 100ms;}
.but{width: 200px; height: 20px; background-color: #35ff684f; border-radius: 0 0 20px 20px; position: fixed; top: 0; transition: all 500ms 600ms; display: flex; justify-content: center; align-items: center;}
.firstbox{display: flex; justify-content: center;}
span{display: block; }




@media screen and (max-width:980px){
    header{opacity: 0;
    pointer-events: none;}
}